@charset "utf-8";
html{width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;}
body{width:100%;margin:0 auto;background:#fff url(../images/bodybg.jpg) center top no-repeat;text-align:center;font:12px "Microsoft Yahei","微软雅黑",Arial,"宋体",sans-serif;height:100%;color:#555;width:100%;padding:0;_overflow-x:hidden;}
body.homepage{ margin:0 auto;background:#fff;}
a:link,a:visited{color:#363636;text-decoration:none;}
a:hover{color:#0c8bf1;}
img,a img{border:none;vertical-align:middle;}
li,ul{list-style:none;}
li,ul,form{margin:0;padding:0;}
input,select{font-size:12px;vertical-align:middle;}
.hidden{display:none;}
h3{font-size:14px;}
a,area { blr:expression(this.onFocus=this.blur()) } /* for IE */
:focus { outline: none; } /* for Firefox */ 
strong,b{font-weight:normal;}
#blank{width:100%;height:82px;}

.wrap{width:1024px;margin:0 auto;}
.logo{width:100%;height:103px;}
ul.login{width:301px;height:180px;margin:224px auto 0 auto;text-align:left;color:#fff;}
ul.login li{width:100%;height:30px;font-size:12px;margin-bottom:6px;}
ul.login li span{display:inline-block;width:50px;text-align:right;padding-right:10px;}
ul.login li input.textinput{width:217px;height:27px;background:url(../images/bg_input.gif) 0 0 no-repeat;border:none;padding-left:10px;}
ul.login li input.textinput1{width:86px;height:27px;background:url(../images/bg_input1.gif) 0 0 no-repeat;border:none;padding-left:10px;}
ul.login li img{vertical-align:top;position:relative;left:5px;}
ul.login li input.submit{width:92px;height:31px;background:url(../images/bg_submit.gif) 0 0 no-repeat;border:none;position:relative;left:7px;cursor:pointer;}
.resign{display:inline-block;width:92px;height:31px;background:url(../images/bg_submit1.gif) 0 0 no-repeat;border:none;position:relative;left:7px;cursor:pointer;vertical-align: top;margin-left: 5px;}




















