<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>实验设备借用管理系统</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../static/main/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/main/css/page.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/main/js/jquery.page.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/related-widget-wrapper.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>

</head>

<body>

<div class="header">
    <h1><a href="#"><img src="../static/imp/images/logo.png" alt="实验设备借用管理系统"/></a></h1>
    <div class="time">{% now "Y-m-d f" %}<Br/><a href="/logout/">退出系统</a></div>

</div>
<div class="container-left">
    <ul class="nav-left">
        <li class="now">
            <a href="#">设备管理</a>
            <ul class="sub">

                {% if mgroup == 3 or mgroup == 2 %}
                    <li><a href="/main/">设备列表</a></li>
                    <li><a href="#" data-href="/admin/main/macinsh/add/">新增设备</a></li>
                    <li><a href="#" data-href="/admin/main/machistoy/?shenhezhuanugtai__exact=1">借出纪录</a></li>
                    {% ifequal mgroup 2 %}
                        <li>
                            <a  href="#" data-href="/admin/main/machistoy/shenheren__id__exact={{ user.id }}&shenhezhuanugtai__exact=0">借出审核</a>
                        </li>
                    {% endifequal %}
                    {% ifequal mgroup 1 %}
                        <li>
                            <a href="#" data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=1">已借入列表</a>
                        </li>
                        <li>
                            <a href="#" data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=2">已归还列表</a>
                        </li>

                    {% endifequal %}
                {% endif %}
            </ul>

        </li>
        {% ifequal mgroup 3 %}


            <li class="now">
                <a href="#">器材管理员</a>
                <ul class="sub">

                    <li><a  href="#" data-href="/admin/main/manageuser/add/?yonghuzhonglei=2">新增管理员</a></li>
                    <li><a href="#"  data-href="/admin/auth/user/?groups__id__exact=2">管理员列表</a></li>
                       <li><a href="#" data-href="/admin/main/keshi/">科室管理</a></li>
                </ul>
            </li>
            <li class="now">
                <a href="#">用户管理</a>
                <ul class="sub">

                    <li><a  href="#" data-href="/admin/main/manageuser/add/?yonghuzhonglei=1">新增用户</a></li>
                    <li><a  href="#" data-href="/admin/auth/user/?groups__id__exact=1">用户列表</a></li>
                </ul>
            </li>
        {% endifequal %}
        <li class="now">
            <a href="#"> {% if mgroup == 3 or mgroup == 2 %}管理员设置{% elif mgroup == 1 %}个人资料{% endif %}</a>

            <ul class="sub">
                <li><a  href="#" data-href="/admin/main/manageuser/{{ request.user.manageuser.id }}/">资料设置</a></li>
                <li><a  href="#" data-href="/admin/password_change/">密码修改</a></li>
            </ul>
        </li>


    </ul>
</div>
<div class="container-right" id="contain">

    <iframe class="iframe" id="test" width="100%" height="100%" style="display: none;border:none"></iframe>
     <div class="shebei-top">借出申请</div>
<style type="text/css">
  ul, li {
    list-style: none;
    margin: 0;
      height: 200px;
      width: 200px;



}
    li{
        margin-bottom: 20px;
    }

  </style>

        <div class="content" style="text-align: left;padding-top: 30px;padding-left: 30px ">
            <form method="post">
                {{ form }}
                <input type="submit"/>
            </form>
        </div>

</div>
<div class="med" style="display: none">
       <div class="left">
        <ul>

            <li class="left-div">设备管理</li>
            <li><a data-href="/admin/main/macinsh/">设备列表</a></li>
            {% if mgroup == 3 or mgroup == 2 %}

                <li><a data-href="/admin/main/macinsh/add/">新增设备</a></li>
                <li><a data-href="/admin/main/machistoy/?shenhezhuanugtai__exact=1">借出纪录</a></li>
            {% endif %}

            {% ifequal mgroup 2 %}
                <li><a data-href="/admin/main/machistoy/shenheren__id__exact={{ user.id }}&shenhezhuanugtai__exact=0">借出审核</a></li>
            {% endifequal %}
        {% ifequal mgroup 1 %}
                <li><a data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=1">已借入列表</a></li>
                <li><a data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=2">已归还列表</a></li>

        {% endifequal %}


        </ul>

        {% ifequal mgroup 3 %}


            <ul>
                <li class="left-div">器材管理员</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=2">新增管理员</a></li>
                <li><a data-href="/admin/auth/user/?groups__id__exact=2">管理员列表</a></li>
                 <li><a data-href="/admin/main/keshi/">科室管理</a></li>

            </ul>
            <ul>
                <li class="left-div">用户管理</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=1">新增用户</a></li>
                <li><a data-href="/admin/auth/user/?groups__id__exact=1">用户列表</a></li>
            </ul>
        {% endifequal %}

        <ul>
            <li class="left-div"> {% if mgroup == 3 or mgroup == 2 %}管理员设置{% elif mgroup == 1 %}个人资料{% endif %}</li>
            <li><a data-href="/admin/main/manageuser/{{ request.user.manageuser.id }}/">资料设置</a></li>
            <li><a data-href="/admin/password_change/">密码修改</a></li>
        </ul>


    </div>
    <div class="right">
        <iframe class="iframe" width="100%" height="100%" style="display: none"></iframe>

        <div class="shebei-top">借出申请</div>

        <div class="content" style="text-align: left;padding-top: 30px;padding-left: 30px">
            <form method="post">
                {{ form }}
                <input type="submit"/>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    function reinitIframe(){
var iframe = document.getElementById("test");
var contain=$("#contain")
try{
var bHeight = iframe.contentWindow.document.body.scrollHeight;
var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
var height = Math.max(bHeight, dHeight);
contain.css("height",height)
console.log(height);
}catch (ex){}
}
    $(function () {
        $(".datetimeshortcuts img").attr("src", "/static/admin/img/icon_calendar.gif")


        $('.left li').each(function (e) {
            $(this).click(function (a) {

                $('.shebei-top').hide()
                $('.content').hide()
                $('.fen').hide()


                var href = $(this).find("a").attr("data-href");
                console.log(href);
                $(".iframe").attr("src", href);
                $(".iframe").show();
                  window.setInterval("reinitIframe()", 200);

            })

        })


    })


</script>
</body>
</html>