<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>实验设备借用管理系统</title>
<link href="images/common.css" rel="stylesheet" type="text/css" />
</head>
 <body>
<!--头部-->
<div class="header">
	<h1><a href="#"><img src="images/logo.png" alt="实验设备借用管理系统" /></a></h1>
	<div class="time">当前时间:2017-12-31 10:24<Br /><a href="#">系统首页</a>&nbsp;|&nbsp;<a href="#">退出系统</a></div>

</div>
<!--左侧代码-->
<div class="container-left">
	<ul class="nav-left">
		<li class="now"><a href="#">设备管理</a>
			<ul class="sub">
				<li><a href="#">设备列表</a></li>
				<li><a href="#">新增设备</a></li>
				<li><a href="#">借出记录</a></li>
			</ul>
			
			</li>
		<li><a href="#">器材管理员</a>
			<ul class="sub">
				<li><a href="#">新增管理员</a></li>
				<li><a href="#">管理员列表</a></li>
			</ul>
			</li>
		<li><a href="#">用户管理</a>
			<ul class="sub">
				<li><a href="#">新增用户</a></li>
				<li><a href="#">用户列表</a></li>
			</ul>
			</li>
		<li><a href="#">管理员设置</a>
			<ul class="sub">
				<li><a href="#">资料设置</a></li>
				<li><a href="#">修改密码</a></li>
				<li><a href="#">操作日志</a></li>
			</ul>
			</li>
		<li><a href="#">查询统计</a></li>
	</ul>
</div>

<!--左侧代码-->
<div class="container-right">
	<div class="title">设备列表</div>
	<div class="content">
		<ul class="shebei-list">
			<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
				<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
				<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
				<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
				<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
				<li>
				<a href="#"><img src="images/shebei.jpg" alt="" /></a>
				<div class="info">
				设备名称：便携式地物光谱仪<br >
				当前状态：在库
			</div>
				</li>
		</ul>
	</div>
	
</div>





</body>
</html>
