<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="实验设备借用管理系统">
    <meta name="Description" content="实验设备借用管理系统">
    <title>实验设备借用管理系统</title>
    <link href="../static/index/css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrap">
    <div class="logo">
        <img src="../static/index/images/logo.png" alt="">
    </div>

    <form method="post" action="">

        <ul class="login">
            {% if password_is_wrong %}
                <li> 用户名或密码错误</li>
            {% endif %}
            {% if zym_is_wrong %}
            <li> 验证码错误</li>
        {% endif %}
            <li><span>手机号</span><input type="text" name="username" class="textinput"></li>
            <li><span>密码</span><input type="password" name="password"  class="textinput"></li>

            <li><span></span><input type="submit" value="" class="submit"><a href="/resign/" class="submit" style="color: white;font-size: 18px; padding-left: 10px;">注册</a></li>
        </ul>
    </form>
</div>
</body>
</html>
