<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>实验设备借用管理系统</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../static/main/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/main/css/page.css" rel="stylesheet" type="text/css">
    <link href="../static/imp/css/common.css" rel="stylesheet" type="text/css">
     <link href="../static/main/css/jquery-ui-timepicker-addon.css" type="text/css" />

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script src="../static/main/js/jquery.page.js"></script>

    <script src="../static/main/js/jquery-ui-timepicker-addon.js"></script>

     <script src="../static/main/js/jquery.ui.datepicker-zh-CN.js.js"></script>
</head>

<body>

<div class="header">
    <h1><a href="#"><img src="../static/imp/images/logo.png" alt="实验设备借用管理系统"/></a></h1>
    <div class="time">{% now "Y-m-d f" %}<Br/>你好:{{ request.user.username}} &nbsp;&nbsp;&nbsp; <a href="/logout/">退出系统</a></div>

</div>
<div class="container-left">
    <ul class="nav-left">
        <li class="now">
            <a href="#">设备管理</a>
            <ul class="sub">
<li><a href="/main/">设备列表</a></li>
                {% if mgroup == 3 or mgroup == 2 %}

                    <li><a href="#" data-href="/admin/main/macinsh/add/">新增设备</a></li>
                    <li><a href="#" data-href="/admin/main/machistoy/?shenhezhuanugtai__exact=1">借出纪录</a></li>
                    {% ifequal mgroup 2 %}
                        <li>
                            <a  href="#" data-href="/admin/main/machistoy/?shenheren__id__exact={{ user.id }}&shenhezhuanugtai__exact=0">借出审核</a>
                        </li>
                    {% endifequal %}

                {% endif %}
            {% ifequal mgroup 1 %}
                        <li>
                            <a href="#" data-href="/admin/main/machistoy/?jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=1">已借入列表</a>
                        </li>
                        <li>
                            <a href="#" data-href="/admin/main/machistoy/?jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=2">已归还列表</a>
                        </li>

                    {% endifequal %}
            </ul>

        </li>
        {% ifequal mgroup 3 %}


            <li class="now">
                <a href="#">器材管理员</a>
                <ul class="sub">

                    <li><a  href="#" data-href="/admin/main/manageuser/add/?yonghuzhonglei=2">新增管理员</a></li>
                    <li><a href="#"  data-href="/admin/auth/manageuser">管理员列表</a></li>
                       <li><a href="#" data-href="/admin/main/keshi/">科室管理</a></li>
                </ul>
            </li>
            <li class="now">
                <a href="#">用户管理</a>
                <ul class="sub">

                    <li><a  href="#" data-href="/admin/main/manageuser/add/?yonghuzhonglei=1">新增用户</a></li>
                    <li><a  href="#" data-href="/admin/auth/manageuser/?groups__id__exact=1">用户列表</a></li>
                </ul>
            </li>
        {% endifequal %}
        <li class="now">
            <a href="#"> {% if mgroup == 3 or mgroup == 2 %}管理员设置{% elif mgroup == 1 %}个人资料{% endif %}</a>

            <ul class="sub">
                <li><a  href="#" data-href="/admin/main/manageuser/{{ request.user.manageuser.id }}/">资料设置</a></li>
                <li><a  href="#" data-href="/admin/password_change/">密码修改</a></li>
            </ul>
        </li>


    </ul>
</div>

<!--左侧代码-->
<div class="container-right" id="contain">

    <iframe class="iframe" id="test" width="100%" height="100%" style="display: none;border:none"></iframe>
    <div class="shebei-top" style="text-align: left">设备列表<span style="float: right">
            <a href="{{ request.path }}">全部</a>丨
            <a href="{{ request.path }}?status=0" class="statue">借出</a>丨
            <a href="{{ request.path }}?status=1" class="statue">待审核</a> 丨
            <a href="{{ request.path }}?status=2" class="statue">在库</a></span></div>
    <div class="content">
     <form id="changelist-search" action="" method="get" style="text-align: left">
                <div><!-- DIV needed for valid HTML -->
                    <label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search"></label>
                    <input type="text" size="40" name="q" value="" id="searchbar">
                    <input type="submit" value="搜索">


                </div>
            </form>
        <ul class="shebei-list">
            {% for machine in machines %}



                <li>
                    <a data-href="{% if mgroup == 1 %}/add_form/?id={{ machine.id }}{% else %}/admin/main/macinsh/{{ machine.id }}/{% endif %}"><img
                            src="{% if machine.image %}{{ machine.image.url }}{% endif %}" alt=""/>
                    <div class="info">
                        设备名称：{{ machine.name }}<br>
                        当前状态：{{ machine.get_zhuangtai_display }}
                    </div>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>

</div>
<div class="med" style="display: none">
    <div class="left">
        <ul>

            <li class="left-div">设备管理</li>
            <li><a data-href="/admin/main/macinsh/">设备列表</a></li>
            {% if mgroup == 3 or mgroup == 2 %}

                <li><a data-href="/admin/main/macinsh/add/">新增设备</a></li>
                <li><a data-href="/admin/main/machistoy/?shenhezhuanugtai__exact=1">借出纪录</a></li>
            {% endif %}

            {% ifequal mgroup 2 %}
                <li><a data-href="/admin/main/machistoy/shenheren__id__exact={{ user.id }}&shenhezhuanugtai__exact=0">借出审核</a>
                </li>
            {% endifequal %}
            {% ifequal mgroup 1 %}
                <li><a data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=1">已借入列表</a>
                </li>
                <li><a data-href="/admin/main/machistoy/jiechuren__id__exact={{ user.id }}&shenhezhuanugtai__exact=2">已归还列表</a>
                </li>

            {% endifequal %}


        </ul>

        {% ifequal mgroup 3 %}


            <ul>
                <li class="left-div">器材管理员</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=2">新增管理员</a></li>
                <li><a data-href="/admin/main/manageuser/?yonghuzhonglei=2">管理员列表</a></li>
            </ul>
            <ul>
                <li class="left-div">用户管理</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=1">新增用户</a></li>
                <li><a data-href="/admin/main/manageuser/?yonghuzhonglei=2">用户列表</a></li>
            </ul>
        {% endifequal %}

        <ul>
            <li class="left-div"> {% if mgroup == 3 or mgroup == 2 %}管理员设置{% elif mgroup == 1 %}个人资料{% endif %}</li>
            <li><a data-href="/admin/main/manageuser/{{ request.user.manageuser.id }}/">资料设置</a></li>
            <li><a data-href="/admin/password_change/">密码修改</a></li>
        </ul>


    </div>
    <div class="right">

        <iframe class="iframe" width="100%" height="100%" style="display: none"></iframe>

        <div class="shebei-top">设备列表<span style="float: right">
            <a href="{{ request.path }}">全部</a>丨
            <a href="{{ request.path }}?status=1" class="statue">借出</a>丨
            <a href="{{ request.path }}?status=0" class="statue">在库</a></span></div>

        <div class="content">
            <form id="changelist-search" action="" method="get" style="text-align: left">
                <div><!-- DIV needed for valid HTML -->
                    <label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search"></label>
                    <input type="text" size="40" name="q" value="" id="searchbar">
                    <input type="submit" value="搜索">


                </div>
            </form>
            <ul class="item">
                {% for foo in  machines %}
                    <li><a href="{% if mgroup == 1 %}/add_form/?id=
                        {{ foo.id }}{% else %}/admin/main/macinsh/{{ foo.id }}/{% endif %}">
                        <div class="info-top"><img src="{% if foo.image %}{{ foo.image.url }}{% endif %}"/></div>
                        <div class="info-bottom">
                            <div class="item-name">{{ foo.name }}</div>
                            <div class="item-style">{{ foo.get_zhuangtai_display }}</div>
                        </div>
                    </a>
                    </li>
                {% endfor %}


            </ul>

        </div>
        <div class="fen">
            <div id="page"></div>


        </div>
    </div>
</div>
<script>
    var len = {{ Len|safe }};
    function changeURLArg(url, arg, arg_val) {
        var pattern = arg + '=([^&]*)';
        var replaceText = arg + '=' + arg_val;
        if (url.match(pattern)) {
            if (arg_val == undefined) {
                replaceText = ""

            }
            var tmp = '/(' + arg + '=)([^&]*)/gi';
            tmp = url.replace(eval(tmp), replaceText);
            return tmp;
        } else {
            if (arg_val == undefined) {
                return url

            }
            if (url.match('[\?]')) {
                return url + '&' + replaceText;
            } else {
                return url + '?' + replaceText;
            }
        }
        return url + '\n' + arg + '\n' + arg_val;
    }
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return 1; //返回参数值
    }
    function setPages() {


        $("#page").createPage({
            pageCount: len,
            current: getUrlParam("page"),
            backFn: function (p) {
                console.log(p);
                var url = changeURLArg(window.location.href, "page", p);
                window.location.href = changeURLArg(window.location.href, "page", p)


            }
        });
    }

function reinitIframe(){
var iframe = document.getElementById("test");
var contain=$("#contain")
try{
var bHeight = iframe.contentWindow.document.body.scrollHeight;
var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
var height = Math.max(bHeight, dHeight);
contain.css("height",height)
console.log(height);
}catch (ex){}
}
    $(function () {



        setPages()
        $('li').each(function (e) {
            $(this).click(function (a) {

                $('.shebei-top').hide()
                $('.content').hide()
                $('.fen').hide()


                var href = $(this).find("a").attr("data-href");
                console.log(href);
                $(".iframe").attr("src", href);
                $(".iframe").show();
                $(".iframe").contents().find(".vDateField").each(function () {
                    $(this).datetimepicker({
                   timeFormat: "HH:mm:ss",
                         dateFormat: "yy-mm-dd"

            });

                })


            })

        })

    })

</script>
</body>
</html>