<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../static/main/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/main/css/page.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/main/js/jquery.page.js"></script>
</head>

<body>

<div class="top">

    <div style="float: right;margin-top: 5px;margin-right: 5px;">当前时间:{% now "Y-m-d f" %} <a href="/logout/" >退出系统</a></div>

    <ul class="top-menu">

        <div class="nav-logo nav-logo-img">
            <h1>北师大设备管理系统</h1>
        </div>



        <li class="menu-one">
            <a href="/main/">总览</a>
        </li>

    </ul>
</div>
<div class="med">
    <div class="left">
        <ul>

            <li class="left-div">设备管理</li>
            <li><a data-href="/admin/main/macinsh/">设备列表</a></li>
            {% if mgroup == 3 or mgroup == 2 %}

                <li><a data-href="/admin/main/macinsh/add/">新增设备</a></li>
                <li><a data-href="/admin/main/machistoy/?shenhezhuanugtai__exact=1">借出纪录</a></li>
            {% endif %}

            {% ifequal mgroup 2 %}
                <li><a data-href="/admin/main/machistoy/shenheren__id__exact={{ user.id }}&shenhezhuanugtai__exact=0">借出审核</a></li>
            {% endifequal %}


        </ul>

        {% ifequal mgroup 3 %}


            <ul>
                <li class="left-div">器材管理员</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=2">新增管理员</a></li>
                <li><a data-href="/admin/auth/user/?groups__id__exact=2">管理员列表</a></li>
            </ul>
            <ul>
                <li class="left-div">用户管理</li>
                <li><a data-href="/admin/main/manageuser/add/?yonghuzhonglei=1">新增用户</a></li>
                <li><a data-href="/admin/auth/user/?groups__id__exact=1">用户列表</a></li>
            </ul>
        {% endifequal %}

        <ul>
            <li class="left-div"> {% if mgroup == 3 or mgroup == 2 %}管理员设置{% elif mgroup == 1 %}个人资料{% endif %}</li>
            <li><a data-href="/admin/main/manageuser/{{ request.user.manageuser.id }}/">资料设置</a></li>
            <li><a data-href="/admin/password_change/">密码修改</a></li>
        </ul>


    </div>
    <div class="right">
        
        <iframe class="iframe" width="100%" height="100%" style="display: none"></iframe>

        <div class="shebei-top">设备列表<span style="float: right">
            <a href="{{ request.path }}">全部</a>丨
            <a href="{{ request.path }}?status=0" class="statue">借出</a>丨
            <a href="{{ request.path }}?status=1" class="statue">待审核</a> 丨
            <a href="{{ request.path }}?status=2" class="statue">在库</a></span></div>

        <div class="content">
        <form id="changelist-search" action="" method="get" style="text-align: left">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search"></label>
<input type="text" size="40" name="q" value="" id="searchbar">
<input type="submit" value="搜索">


</div>
</form>
            <ul class="item">
                {% for foo in  machines %}
                    <li><a href="{% if mgroup == 1 %}/add_form/?id={{ foo.id }}{% else %}/admin/main/macinsh/{{ foo.id }}/{% endif %}">
                        <div class="info-top"><img src="{% if foo.image %}{{ foo.image.url }}{% endif %}"/></div>
                        <div class="info-bottom">
                            <div class="item-name">{{ foo.name }}</div>
                            <div class="item-style">{{ foo.get_zhuangtai_display }}</div>
                        </div>
                    </a>
                    </li>
                {% endfor %}


            </ul>

        </div>
        <div class="fen">
            <div id="page"></div>


        </div>
    </div>
</div>
<script>
    var len = {{ Len|safe }};
    function changeURLArg(url, arg, arg_val) {
        var pattern = arg + '=([^&]*)';
        var replaceText = arg + '=' + arg_val;
        if (url.match(pattern)) {
            if(arg_val==undefined)
            {
                replaceText=""

            }
            var tmp = '/(' + arg + '=)([^&]*)/gi';
            tmp = url.replace(eval(tmp), replaceText);
            return tmp;
        } else {
           if(arg_val==undefined)
            {
                return url

            }
            if (url.match('[\?]')) {
                return url + '&' + replaceText;
            } else {
                return url + '?' + replaceText;
            }
        }
        return url + '\n' + arg + '\n' + arg_val;
    }
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return 1; //返回参数值
    }
    function setPages() {


        $("#page").createPage({
            pageCount: len,
            current: getUrlParam("page"),
            backFn: function (p) {
                console.log(p);
                var url = changeURLArg(window.location.href, "page", p);
                window.location.href = changeURLArg(window.location.href, "page", p)


            }
        });
    }






    $(function () {
        setPages()
        $('.left li').each(function (e) {
        $(this).click(function (a) {

            $('.shebei-top').hide()
            $('.content').hide()
            $('.fen').hide()


            var href=$(this).find("a").attr("data-href");
            console.log(href);
            $(".iframe").attr("src",href);
            $(".iframe").show();

        })

    })

    })

</script>
</body>
</html>