{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}

{% block breadcrumbs_last %}
{% trans "导出表格" %}
{% endblock %}{% block content_title %}<h1>导出</h1>{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}

    <fieldset class="module aligned">
      <div class="form-row">


          <label for="id_file_format">文件格式:</label>

          <select id="id_file_format" name="file_format">
<option value="" selected="selected">---</option>

<option value="1">xls</option>
<option value="2">xlsx</option>

<option value="7">html</option>
</select>


        </div>
        </div>

    </fieldset>

    <div class="submit-row">
      <input type="submit" class="default" value="{% trans "提交" %}">
    </div>
</form>
{% endblock %}
